body{
font-family:Arial;
background:#eef2f7;
margin:0;
}

.container{
max-width:1000px;
margin:auto;
padding:20px;
text-align:center;
}

button{
background:#1e88e5;
color:white;
border:none;
padding:10px 15px;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#1565c0;
}

input{
padding:8px;
margin:5px;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th{
background:#1e88e5;
color:white;
padding:10px;
}

td{
border:1px solid #ccc;
padding:8px;
}

.tools{
margin-top:10px;
}

canvas{
margin-top:30px;
}

.dark{
background:#121212;
color:white;
}
