body{

font-family: Arial;
margin:40px;
background:white;
color:black;

}

table{

width:100%;
margin-top:20px;

}

input{

margin:5px;
padding:5px;

}

button{

padding:8px;
margin:5px;

}

.dark{

background:#121212;
color:white;

}

canvas{

max-width:800px;
margin-top:30px;

}
