body{

font-family: Arial;

text-align:center;

background:#f4f4f4;

}

input{

margin:5px;

padding:6px;

}

button{

padding:8px;

background:steelblue;

color:white;

border:none;

cursor:pointer;

}

table{

margin:auto;

border-collapse:collapse;

}

td,th{

border:1px solid black;

padding:6px;


}
body.dark{
background:#121212;
color:white
}
